NODE_ENV=development
APP_PORT=8080
APP_NAME="Auth Portal"
API_PREFIX=api
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:8080


DATABASE_URL=mongodb://localhost:27017/auth-portal



AUTH_JWT_SECRET=
AUTH_JWT_TOKEN_EXPIRES_IN=15m
AUTH_REFRESH_SECRET=
AUTH_REFRESH_TOKEN_EXPIRES_IN=3650d
AUTH_HASH_FORGOT_PASSWORD_EXPIRES_IN=24h
PASSWORD_CHANGE_INTERVAL=3d



MAIL_HOST=
MAIL_PORT=465
MAIL_USER=
MAIL_PASSWORD=
MAIL_DEFAULT_EMAIL=
MAIL_DEFAULT_NAME='Auth Portal'
